<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usage Stats</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="p-10">
    <div class="flex flex-col gap-8">
      <nav class="flex gap-3">
		<div class="font-bold">Statistics</div>
		<div>»</div>
		<a href="/chat/" class="underline text-red-600">Chat</a>
		<a href="/stats/" class="underline text-red-600">Stats</a>
      </nav>

      <section class="flex flex-col">
        <div class="flex">
          <div class="w-48">Active conversations:</div><div>{{ active_users }}</div>
        </div>
        <div class="flex">
          <div class="w-48">Messages served:</div><div>{{ messages_served }}</div>
        </div>
        <div class="flex">
          <div class="w-48">Server uptime:</div><div>{{ uptime }}</div>
        </div>
      </section>

      <section class="flex flex-col gap-4">
        <h2 class="font-semibold text-lg">Last {{ message_limit }} questions and answers</h2>

		{% for item in last_questions %}
		  <details>
		  	<summary class="cursor-pointer select-none">{{ item.user_prompt|truncate(200) }}</summary>
			<div class="py-4">
				<p><strong>Asked:</strong> {{ item.created_at|format_datetime('%Y-%m-%d %H:%M') }}</p>
				<p><strong>User prompt:</strong> {{ item.user_prompt }}</p>
				<p><strong>System prompt:</strong> {{ item.system_prompt }}</p>
				<p><strong>Answer:</strong> {{ item.answer }}</p>
			</div>
		  </details>
		{% endfor %}
      </section>
    </div>
  </body>
</html>
